entrypoint = "index.js"
modules = ["nodejs-20", "nodejs-22"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-25_05"
packages = ["mongosh", "nodemon"]

[deployment]
run = ["node", "index.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 2000
externalPort = 3002

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 4000
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true
